main {
    width: 100%;
    max-width: 900px;
}

.named-areas, 
.container, 
.web-layout, 
.modern-web {
    display: grid;
    width: 100%;
    height: auto;
    margin: 10px 0;
    border: 1px solid grey;
}

.named-areas > div,
.modern-web > div, 
.web-layout > div, 
.container > div {
    background-color: #1EAAFC;
    color: #fff;
    border-radius: 4px;
    border: 6px solid #171717;
    padding: 20px;
    border-radius: 5px;
}

#basic {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 150px 150px;
    gap: 1rem;
}

#using-repeat {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    gap: 2rem;
}

#dynamic {
    grid-template-columns: 0.5fr 30% 1fr;
    grid-template-rows: 200px 100px 100px;
    gap: 1rem;
}

.web-layout {
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: repeat(9, 3fr);
    gap: 1rem;
}

.menu {
    grid-row-start: 1;
    grid-row-end: 9;
    grid-column: 1;
}

.header {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.content {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 8;
}

.footer {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 9;
}

.modern-web {
    grid-template-columns: auto;
    grid-template-rows: repeat(10, 3fr);
}

.nav {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
}

.portfolio {
    grid-column: 1;
    grid-row-start: 4;
    grid-row-end: 8;
}

.contact-us {
    grid-column: 1;
    grid-row-start: 9;
    grid-row-end: 10;
}

.named-areas {
    grid-template-columns: [left] 3fr  [middle] 2fr  [right] 4fr;
    grid-template-rows: [top] auto [center] auto [bottom];
    gap: 2em;
}

.top {
    grid-area: middle;
    grid-column: left / right;
    grid-row: top / bottom;
}

.middle {
    grid-column: 1;
    grid-row-start: 4;
    grid-row-end: 8;
}

.bottom {
    grid-column: 1;
    grid-row-start: 9;
    grid-row-end: 10;
}